<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familia de ALVAREZ</title>
</head>

<body>
    <h1> <strong>¡FAMILIA ALVAREZ! </strong></h1>
    <p>
        {% for familia1 in familia %}
            <div>
               <p>
                Nombre: {{familia1.nombre}}<br>        
                Apellido: {{familia1.apellido}}<br>
                Edad: {{familia1.edad}}<br>
                Fecha de nacimiento: {{familia1.fecha_nacimiento}}<br>
                ---------------------------
               </p> 
            </div>
           

        {%endfor%}


    </p>

</body>

</html>


{% for n in Familia %}
{{flia.nombre}}
{{flia.apellido}}
{{flia.edad}}
{{flia.fecha_nacimiento}}
<br>
{% endfor %}