<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familia de ALVAREZ</title>
</head>

<body>
    <h1> <strong>¡FAMILIA ALVAREZ! </strong></h1>
    <p>
        {% for familiar in familiares %}
            <div>
               <p>
                Nombre: {{familiar.nombre}}<br>        
                Apellido: {{familiar.apellido}}<br>
                Edad: {{familiar.edad}}<br>
                Fecha de nacimiento: {{familiar.fecha_nacimiento}}<br>
                ---------------------------
               </p> 
            </div>

        {%endfor%}


    </p>

</body>

</html>


{% for n in familiares %}
{{Familia.nombre}}
{{Familia.apellido}}
{{Familia.edad}}
{{Familia.fecha_nacimiento}}
<br>
{% endfor %}